<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.truethat.android">

  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

  <uses-permission android:name="android.permission.RECORD_AUDIO"/>
  <uses-permission android:name="android.permission.VIBRATE"/>
  <uses-permission android:name="android.permission.CAMERA"/>

  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

  <uses-feature android:name="android.hardware.camera.any"/>

  <uses-sdk tools:overrideLibrary="com.stfalcon.multiimageview"/> <!-- min 16 -->

  <application
      android:name=".main.BaseApplication"
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:largeHeap="true"
      android:supportsRtl="true"
      android:theme="@style/AppTheme"
      tools:replace="android:label">
    <activity android:name=".main.LoginActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity
        android:name=".main.MainActivity"
        android:label="@string/select_channel_type"/>
    <activity
        android:name=".main.SettingsActivity"
        android:label="@string/settings"/>
    <activity
        android:name=".main.BlockedMembersListActivity"
        android:label="@string/blocked_members_list"/>

    <activity android:name=".utils.PhotoViewerActivity"/>
    <activity
        android:name=".utils.MediaPlayerActivity"
        android:configChanges="orientation|screenSize"/>
    <activity
        android:name=".openchannel.CreateOpenChannelActivity"
        android:label="@string/create_open_channel"/>
    <activity
        android:name=".groupchannel.InviteMemberActivity"
        android:label="@string/invite_member"/>
    <activity
        android:name=".groupchannel.MemberListActivity"
        android:label="@string/member_list"/>
    <activity
        android:name=".groupchannel.CreateGroupChannelActivity"
        android:label="@string/create_group_channel"/>
    <activity
        android:name=".openchannel.ParticipantListActivity"
        android:label="@string/participant_list"/>
    <activity android:name=".openchannel.OpenChannelActivity"/>
    <activity android:name=".groupchannel.GroupChannelActivity"/>

    <service android:name=".fcm.MyFirebaseMessagingService">
      <intent-filter>
        <action android:name="com.google.firebase.MESSAGING_EVENT"/>
      </intent-filter>
    </service>
    <service android:name=".fcm.MyFirebaseInstanceIDService">
      <intent-filter>
        <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
      </intent-filter>
    </service>

    <provider
        android:name="android.support.v4.content.FileProvider"
        android:authorities="com.truethat.android.fileprovider"
        android:exported="false"
        android:grantUriPermissions="true">
      <meta-data
          android:name="android.support.FILE_PROVIDER_PATHS"
          android:resource="@xml/file_paths"/>
    </provider>

    <meta-data
        android:name="io.fabric.ApiKey"
        android:value="ddc8f05b8b5cc1630205777b73f3254602112b8e"
        />
  </application>

</manifest>